body{
    background-color: #0093E9;
    font-family: 'Noto Sans', sans-serif;
    background-color: black;
    color: white;
    width: 362px;
}

.logo{
    display: flex;
    color: #ffffff;
    justify-content: center;
    align-items: center;
}

#linkedlylogo{
    margin: 5px;
}

.info{
    white-space: nowrap;
    display: flex;
}

.top{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
}