body{
    background-color: #0093E9;
    font-family: 'Noto Sans', sans-serif;
    background-color: black;
    color: white;
    border-radius: 15px;
    width: 650px;
}

.logo{
    display: flex;
    color: #ffffff;
    justify-content: center;
    align-items: center;
}

#linkedlylogo{
    margin: 5px;
}

#homeBtn{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    font-weight: bold;
    text-align: center;
    background: linear-gradient(to right, #0093E9, #80D0C7);
    border: none;
    text-align: center;
    font-size: 20px;
    padding: 5px;
    width: 50px;
    height: 50px;
    transition: 0.5s;
    margin: 5px;
    text-decoration: none;
}

.top{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
}


.table {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.header {
    position: sticky;
    top: 0;
    z-index: 1;
    width: 98%;
    background-color: black; /* To ensure the header is not transparent */
}

.body {
    overflow: auto;
    height: 300px; /* Adjust as needed */
}

.row {
    display: flex;
    flex-direction: row;
    width: 100%;
    scroll-snap-align: start;
}

.cell {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%; /* Adjust as needed */
    border: darkcyan 3px solid;
    padding: 5px;
    margin-right: -1px;
    margin-bottom: -1px;
    text-decoration: none;
}

.scroll-container{
    height: 150px;
    overflow-y: scroll;
    overflow-x: hidden;
    padding-right: 5px;
    scroll-snap-type: y mandatory;

    /* This will change the scrollbar's track (background) */
    scrollbar-color: lightgrey black; /* For Firefox */
    scrollbar-width: thin; /* For Firefox */

    /* This will change the scrollbar's thumb (the part you drag) */
    &::-webkit-scrollbar {
        width: 8px;
    }

    &::-webkit-scrollbar-track {
        background: black;
    }

    &::-webkit-scrollbar-thumb {
        background-color: lightgrey;
        border-radius: 20px;
        border: 3px solid black;
    }
}


a{
    text-decoration: none;
    color: white;
}
