body{
    background-color: #0093E9;
    font-family: 'Noto Sans', sans-serif;
    background-color: black;
    color: white;
    width: 400px;
}

.logo{
    display: flex;
    color: #ffffff;
    justify-content: center;
    align-items: center;
}

#linkedlylogo{
    margin: 5px;
}


.top{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
}


.table{
    width: 100%;
}
.row {
  display: flex;
  flex-direction: row;
  width : 100%;
}

.cell {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
  width: 75px;
  border: #0093E9 1px solid;
  margin-right: -1px;
  margin-bottom: -1px;
}