body{
    background-color: #0093E9;
    font-family: 'Noto Sans', sans-serif;
    background-color: black;
    color: white;
    width: 365px;
    height: 252px;
}

.body-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5px;
    height: 100%;
}

.logo{
    display: flex;
    color: #ffffff;
    justify-content: center;
    align-items: center;
}

#linkedlylogo{
    margin: 5px;
}

#main-content{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    flex-direction: column;
    margin: 5px;
}


button{
    all: unset;
}

#googSign{
    border-radius: 2.5%;
}

button:active {
    transform: translateY(2px);
  }

button:hover {
cursor: pointer;
}