.input-box {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }
  
  .input-box input {
    width: 100%;
    padding: 5px 30px 5px 10px;
    border: 1px solid #ccc;
  }
  
  .arrows {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 5px;
  }
  
  .up-arrow,
  .down-arrow {
    cursor: pointer;
    font-size: 12px;
    line-height: 12px;
    padding: 2px;
  }
  
  .up-arrow:hover,
  .down-arrow:hover {
    background-color: #ccc;
  }
  