@font-face {
    font-family: 'Noto Sans';
    src: url('fonts/Noto_Sans/NotoSans-SemiBold.ttf') format('truetype');
}

body{
    background-color: #0093E9;
    font-family: 'Noto Sans', sans-serif;
    background-color: black;
    color: white;
    overflow: hidden;
}
form{
    display: flex;
    flex-direction: column;
}

.logo{
    display: flex;
    color: #ffffff;
    justify-content: center;
    align-items: center;
}

#linkedlylogo{
    margin: 5px;
}

#notProfError{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 5px;
    font-size: large;
}

.question{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 5px;
}

.buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    flex-direction: column;
    margin: 5px;
}

#clearListBtn{
    text-decoration: none;
    color: inherit;
}

/* Round the edges, make the font bold, and and the background color a blue gradient for #subbutton, #genScoresBtn and #downloadPpl */
.buttons button, a{
    border-radius: 12px;
    font-weight: bold;
    background: linear-gradient(to right, #0093E9, #80D0C7);
    border: none;
    color: #ffffff;
    text-align: center;
    font-size: 14px;
    padding: 10px;
    width: 150px;
    transition: 0.5s;
    margin: 5px;
}


/* Create a cool, smooth and modern hover animation for the background for #subbutton, #genScoresBtn and #downloadPpl */
#addToListBtn:hover, #genScoresBtn:hover, #downloadPpl:hover, #clearListBtn:hover {
    background-color: #ffffff;
    color: #000000;
    transition: 0.5s;
}

.emailInput{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
}

.arrows{
    color: #ffffff;
}

.listBtns , .connect-section{
    border: darkcyan 1px solid;
    margin: 5px;
}

.top-row, .bottom-row{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}