html{
    overflow-y: scroll;
    overflow-x: hidden;

    /* This will change the scrollbar's track (background) */
    scrollbar-color:  #126C9E; /* For Firefox */
    scrollbar-width: thin; /* For Firefox */

    /* This will change the scrollbar's thumb (the part you drag) */
    &::-webkit-scrollbar {
        width: 2px;
    }

    &::-webkit-scrollbar-track {
        background: black;
    }

    &::-webkit-scrollbar-thumb {
        background-color:  #126C9E;
        border-radius: 20px;
    }
}
 body {
    width: 600px;
    background-color: black;
    color: #ffffff;
    font-size: 14px;
    animation: fadeIn 1s ease-in-out forwards;
}


@keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

p{
    margin: 2px;
}

.logo{
display: flex;
color: #ffffff;
justify-content: center;
align-items: center;
}

.logo h1{
border-right: #ffffff solid 1px;
padding-right: 5px;
}

#linkedlylogo{
margin: 5px;
}

.main-content{
    border: 2px solid transparent;
    border-image: linear-gradient(to right, #0093E9, #80D0C7) 1;
}

#homeBtn{
    background-color: #000000;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    text-align: center;
    border: none;
    text-align: center;
    font-size: 50px;
    padding: 5px;
    width: 50px;
    height: 50px;
    margin: 5px;
    text-decoration: none;
}

.welcomeMess{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 2px;
    text-align: center;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.question{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 2px;
}

.goal-section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 2px;
    text-align: center;
}

.bottom-buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin: 5px;
    border-top: #80D0C7 2px solid;
    border-radius: 1px;
    padding: 10px;
    margin-top: 5px;
}

.buttons button, .buttons a{
    border-radius: 12px;
    font-weight: bold;
    background: linear-gradient(to right, #0093E9, #80D0C7);
    border: none;
    color: #ffffff;
    text-align: center;
    font-size: 14px;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 150px;
    transition: 0.5s;
    margin: 5px;
    text-decoration: none;
}

#payment-info:hover, #logout:hover, #submit:hover{
    background-color: #ffffff;
    color: #000000;
    transition: 0.5s;
}