p{
  margin: 0px;
}

body {
    opacity: 0;
    animation: fadeIn 1s ease-in-out forwards;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }


@keyframes flash {
  0% {
    color: white;
    opacity: 1;
  }
  50% {
    color: red;
    opacity: 1;
  }
  100% {
    color: white;
    opacity: 1;
  }
}


  .flash {
    animation-name: flash;
    animation-duration: 1s;
    animation-iteration-count: 1;
  }

body{
    width: 600px;
    height: 400px;
    font-weight: bolder;
    background-color: #000000;
    color: white;
    overflow: hidden;
}
form{
    display: flex;
    flex-direction: column;
}

.logo{
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo h1{
    padding-right: 5px;
    padding-left: 5px;
    font-weight: bold;
    font-size: 25px;
}

#linkedlylogo{
    margin: 5px;
}

#settingsBtn{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    font-weight: bold;
    text-align: center;
    border: none;
    text-align: center;
    font-size: 50px;
    width: 50px;
    height: 50px;
    transition: 0.5s;
    margin: 5px;
    text-decoration: none;
}
input, textarea {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 400;
  background-color: #454545;
  color: white;
  border: none;
  border-radius: 3px;
  resize: none;
}

#notProfError{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 5px;
    font-size: large;
}

#main-content{
  height: 100%;
}

#connect-section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 87%;
    margin: 5px;
    padding: 10px;
    border: 2px solid transparent;
    border-image: linear-gradient(to right, #0093E9, #80D0C7) 1;
}

#linkUrl{
  width: 385px;
  text-align: center;
}

#email{
  width: 351px;
  text-align: center;
}

#genConnectBtn{
    display: flex;
    justify-content: center;
    align-items: center;
}

#genConnectBtn img{
    margin-left: 3px;
}

.question{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 5px;
}

#tL{
  color: #ffffff;
  text-align: center;
  font-size: 13px;
  margin-bottom: 5px;
}

#tL a{
  color: #ffffff;
}

.buttons{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 5px;
    flex-direction: column;
    margin: 5px;
}

.arrows{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 5px;
}

.arrows button{
  margin: 2px;
  background-color: #126C9E;
  color:#ffffff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

#clearListBtn{
    text-decoration: none;
    color: inherit;
}

/* Round the edges, make the font bold, and and the background color a blue gradient for #subbutton, #genScoresBtn and #downloadPpl */
.buttons button, .buttons a{
  color: white;
    border-radius: 12px;
    font-weight: bold;
    background-color: #126C9E;
    border: none;
    text-align: center;
    font-size: 14px;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 150px;
    transition: 0.5s;
    margin: 5px;
    text-decoration: none;
}


/* Create a cool, smooth and modern hover animation for the background for #subbutton, #genScoresBtn and #downloadPpl */
#addToListBtn:hover, #showCurListBtn:hover,
#downloadPpl:hover, #clearListBtn:hover,
#genConnectBtn:hover, #regenBtn:hover {
  background-color: #ffffff;
  color: #126C9E;
  transition: 0.5s;
  cursor: pointer;
}

.emailInput{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
}

.arrows{
    color: #ffffff;
}

.listBtns{
  height: 18%;
border: 2px solid transparent;
border-image: linear-gradient(to right, #0093E9, #80D0C7) 1;
    margin: 5px;
}

.listBtns button{
  width: 150px;
  height: 50px;
}

.listBtns a{
  padding: 0px;
  width: 150px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}


.top-row, .bottom-row{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

/*Loading roller is here------------------------------------------*/

.lds-roller {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-roller div {
    animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    transform-origin: 40px 40px;
  }
  .lds-roller div:after {
    content: " ";
    display: block;
    position: absolute;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: #fff;
    margin: -4px 0 0 -4px;
  }
  .lds-roller div:nth-child(1) {
    animation-delay: -0.036s;
  }
  .lds-roller div:nth-child(1):after {
    top: 63px;
    left: 63px;
  }
  .lds-roller div:nth-child(2) {
    animation-delay: -0.072s;
  }
  .lds-roller div:nth-child(2):after {
    top: 68px;
    left: 56px;
  }
  .lds-roller div:nth-child(3) {
    animation-delay: -0.108s;
  }
  .lds-roller div:nth-child(3):after {
    top: 71px;
    left: 48px;
  }
  .lds-roller div:nth-child(4) {
    animation-delay: -0.144s;
  }
  .lds-roller div:nth-child(4):after {
    top: 72px;
    left: 40px;
  }
  .lds-roller div:nth-child(5) {
    animation-delay: -0.18s;
  }
  .lds-roller div:nth-child(5):after {
    top: 71px;
    left: 32px;
  }
  .lds-roller div:nth-child(6) {
    animation-delay: -0.216s;
  }
  .lds-roller div:nth-child(6):after {
    top: 68px;
    left: 24px;
  }
  .lds-roller div:nth-child(7) {
    animation-delay: -0.252s;
  }
  .lds-roller div:nth-child(7):after {
    top: 63px;
    left: 17px;
  }
  .lds-roller div:nth-child(8) {
    animation-delay: -0.288s;
  }
  .lds-roller div:nth-child(8):after {
    top: 56px;
    left: 12px;
  }
  @keyframes lds-roller {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }